.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  position: sticky;
}

.logo {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin-left: 30px;
  margin-top: 40px;
  text-decoration: none;
  font-family: "Ojuju", sans-serif;
  font-weight: 800;
  font-size: 70px;
}

.about-link {
  font-family: "Konstant Grotesk", sans-serif;
  font-size: 25px;
  width: 50px;
  text-decoration: none;
  color: black;
  margin-right: 100px;
}
