/* Parent Container CSS */
.parent-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 70vh; /* Example height */
}

/* User Card CSS */
.user-card {
  margin-top: 240px;
  text-align: center;
  border: 2px solid black;
  height: 400px;
  width: 300px;
  background: rgb(26, 97, 5);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.user-card > img {
  object-fit: cover;
  height: 280px;
  width: 300px;
}

.user-card h2 {
  color: black;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

.ecem-links {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

a:visited {
  color: black;
}

/* add recipe */

.add-recipe-card {
  width: 40%;
  margin: 20px auto;
  margin-top: 180px;
  padding: 20px;
  border: 2px solid black;
  background: rgb(26, 97, 5);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.add-recipe-card h4 {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  font-size: 0px;
}

.add-recipe-card form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.add-recipe-card label {
  font-family: "Lexend Deca", sans-serif;
  margin-top: 10px;
}

.add-recipe-card input,
.add-recipe-card textarea {
  padding: 5px;
  width: 100%;
}

.add-recipe-card button {
  padding: 10px 20px;
  font-size: 20px;
  grid-column: 1 / span 2;
  color: black;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  background-color: transparent;
}

.add-recipe-card button:hover {
  background-color: tomato;
}

.input-row {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.input-group-small {
  flex: 1;
}

.input-group-triple {
  flex: 3;
}

/* Home page */

body {
  background: rgb(240, 209, 8);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.home-buttons {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 70vh;
  margin-top: 180px;
  background-image: url("./assets/tomato.png");
  background-size: 600px;
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
}

.home-buttons button {
  border: 2px solid black;
  padding: 10px 30px 5px 30px;
  font-family: "Konstant Grotesk", sans-serif;
  font-weight: 800;
  font-size: 34px;
  background: rgb(255, 238, 124);

  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
.home-buttons button:hover {
  background: rgb(255, 244, 176);
}
.tomato {
  border: none;
  width: 500px;
  height: 800px;
  object-fit: contain;
}

.button-see {
  position: absolute;
  top: 500px; /* Adjust these values to place the button where you want */
  left: 25%;
}

.button-roulette {
  position: absolute;
  bottom: 160px;
  right: 15%;
}

.button-add {
  position: absolute;
  top: 250px;
  left: 40%;
}

/* Random card */

.random-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

/* Recipe Details Page */
.card {
  display: flex;
  flex-direction: row;
  width: 55%;
  margin: auto;
  border: 2px solid black;
  margin-top: 200px;
  background-color: rgb(138, 15, 15);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.image-container {
  flex: 1;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: solid 2px black;
  overflow-x: hidden;
}

.recipe-details {
  flex: 2;
  padding: 20px;
}

.recipe-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-calories {
  font-family: "Lexend Deca", sans-serif;
}

.ingredients,
.instructions {
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 20px;
}

.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.arrow {
  max-width: 80%;
  max-height: 80%;
}

/* Recipes Page */

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-top: 150px;
}

a {
  display: inline-block;
}
